[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pycodestyle = "*"
black = "*"

[packages]
django-crispy-forms = "==1.9.0"
django-debug-toolbar = "==2.2"
python-decouple = "==3.3"
django-widget-tweaks = "*"
django = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
