{% extends 'base.html' %} {% load widget_tweaks %}{% block content %}
<div class="text-center pt-5">
  <h1 class="display-4">Đăng nhập</h1>
  <p class="lead text-muted">
    Nhập thông tin phía dưới để tiến hành đăng nhập.
  </p>
</div>
<form
  action="{% url 'login' %}"
  method="post"
  style="max-width: 420px; margin: auto;"
>
  {% csrf_token %} {% for error in form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {{ error|escape }}
  </div>

  {% endfor %}
  <p>
    <label for="username">Tài khoản:</label>
    <input type="text" name="username" placeholder="Username" />
  </p>

  {% for error in form.username.errors %}
  <div class="invalid-feedback" style="display: block;">{{ error|escape }}</div>
  {% endfor %}

  <p>
    <label for="password">Mật khẩu:</label>
    <input type="password" name="password" placeholder="Password" />
  </p>

  <center><input type="submit" name="" value="Đăng nhập" /></center>
  <p>Nếu chưa có tài khoản <a href="/account/signup/">đăng ký</a></p>
</form>
{% endblock content %}
