<style>
    #edit {
        background-color: #151515;
        text-align: center;
        top: 50%;
    }

    .footer {
        background-color: #151515;
        left: 0;
        margin-bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
        height: 250px;
        padding: 20px;
    }

    #contact {
        margin: 15px;
    }

    #contact a {
        margin-right: 10px;
        color: #fff;
    }

    #contact a:hover {
        color: red;
    }

    #final-text {
        margin-bottom: 0px !important;
    }

    .row {
        padding-top: 50px;
        padding-bottom: 0;
    }

</style>

<div class="row welcome">
    <div class="col-12 footer sticky-bottom">
        <div id="edit">
            <br>
            <br>
            MOVIE CENTER
            {% comment %} <img src="https://livedemo00.template-help.com/wt_prod-20691/images/logo-default.png"> {% endcomment %}
            <br>
            <div id="contact">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="far fa-compass"></i></a>
                <a href="#"><i class="far fa-heart"></i></a>
                <a href="#"><i class="far fa-smile"></i></a>
                <a href="#"><i class="far fa-thumbs-up"></i></a>
                <br>
                <br>
                <p id="final-text">© 2020 All Rights Reserved Terms of Use</p>
            </div> <!-- contact -->
        </div> <!-- EDIT -->
        <br>
    </div>
</div> <!-- col-12 footer sticky-bottom -->
