@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

.jumbotron {
  font-size: 60px;
  position: relative;
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  color: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
  background-color: #000;
}

.text-center {
  text-align: center !important;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 0.5px solid white;
}

.separator::before {
  margin: 0.25em;
}

.separator::after {
  margin: 0.25em;
}

.relative {
  background-color: #000;
}

.jumbotron.text-center {
  background: black;
  margin: 0;
}

h1.separator {
  width: 35%;
  margin: auto;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.section-xl {
  padding-top: 10px;
  padding-bottom: 5px;
}

.breadcrumb {
  justify-content: center;
  margin: 0;
  background-color: #f8f9fa !important;
}

.mau {
  color: #d81a24;
}

.mau:hover {
  text-decoration: none;
  color: #000;
}

.sigin {
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.12em;
  text-align: center;
  font-size: 46px;
  padding-top: 70px;
  font-weight: bold;
}

hr {
  padding-bottom: 10%;
  width: 9%;
}

.EFOr {
  color: #b7b7b7;
  padding-top: 3%;
  padding-bottom: 3%;
}

.SI {
  font-family: "Roboto Slab", serif;
  width: 100%;
}

.btn.SI:hover {
  background: black;
}

.part {
  padding-bottom: 100px;
}

.contact-us-detail:hover {
  background-color: #f7639a;
}

.contact-us-detail a {
  color: #ffffff;
}

.contact-us-detail a:hover {
  color: #ffffff;
}

.form-group {
  margin-bottom: 25px;
}

.form-control {
  border: 2px solid transparent;
  height: 50px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -ms-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -o-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -webkit-transition: all 150ms ease-in-out 0s;
  -moz-transition: all 150ms ease-in-out 0s;
  -ms-transition: all 150ms ease-in-out 0s;
  -o-transition: all 150ms ease-in-out 0s;
  transition: all 150ms ease-in-out 0s;
}

.form-control:focus {
  border-color: #171717;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.form-control:focus {
  border-color: #4c9cef;
  border-width: 2px;
}

.margin-top-bottom {
  margin-top: 100px;
  margin-bottom: 100px;
}

.custom-margin {
  margin-top: 80px;
}

.button {
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 17px;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 20px 60px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.button:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.button-style {
  border: 3px solid #fff;
  color: #fff;
}

.button-style:hover,
.button-style:active,
.button-style:focus {
  color: #ffffff;
  background: #4c9cef;
}

.button-style-color-2:hover,
.button-style-color-2:active,
.button-style-color-2:focus {
  color: #ffffff;
  background: #f7639a;
}

.button-style-dark {
  border: 3px solid #000000;
  color: #000000;
}

.pattern-bg {
  background: url(https://s23.postimg.org/klq72xovv/pattern_bg.png);
  background-repeat: repeat;
}

#contact .card:hover i,
#contact .card:hover h4 {
  color: red;
}
