{% load widget_tweaks %}
  <div class="text-center pt-5">
    <h1 class="display-4">Thay đổi mật khẩu</h1>
    <p class="lead text-muted">Nhập thông tin phía dưới để tiến hành thay đổi mật khẩu.</p>
</div>
<form method="post" style="max-width: 420px; margin: auto;">
    {% csrf_token %}

    <div class="form-group">
        <label for="">Mật khẩu hiện tại</label>
        {% render_field form.old_password class="form-control"%}
    </div>
    <div class="form-group">
        <label for="">Mật khẩu mới</label>
        {% render_field form.new_password1 class="form-control" %}
    </div>
    <div class="form-group">
        <label for="">Nhập lại mật khẩu mới</label>
        {% render_field form.new_password2 class="form-control" %}
    </div>
   <p>Mật khẩu không được trùng với các thông tin cá nhân.</p>
   <p>Mật khẩu phải chứa ít nhất 8 ký tự.</p>
   <p>Mật khẩu mới không trùng với bất kỳ mật khẩu cũ nào.</p>
   <p>Mật khẩu không được là một chuỗi số.</p>
    <button class="btn btn-lg btn-primary" type="submit">Cập nhật mật khẩu</button>
</form>
</form>
