{% extends 'base.html' %}

{% load static %}

{% block title %}
    About Us | Movie Center
{% endblock title %}

{% block cssblock %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/cdn-cgi/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script>
    <link rel="icon" href="{% static 'img/favicon.ico'%}" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" href="{% static 'css/about/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/about/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/about/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock cssblock %}


{% block content %}
    <div class="page text-center">
        <section class="relative text-center">
            <div class="container">
                <div class="jumbotron text-center">
                    <h1><small>Who We Are</small><span class='font-weight-bold'>About us</span>
                    </h1>
                </div>
            </div>
        </section>
        </header>
        <!-- Page Content-->
        <main class="page-content">
            <section class="bg-light section-xl">
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">About us</li>
                </ol>
            </section>
            <section>
                <div class="container section">
                    <h2>A few words about us</h2>
                    <hr>
                    <p class="h5 fw-l">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua<br class="d-none d-xl-inline"> Fermentum leo vel
                        orci porta non pulvinar neque laoreet.</p>
                    <div class="row clearleft-custom row-60 offset-custom-2">
                        <div class="col-12 col-md-6 col-xl-4">
                            <div class="thumbnail thumbnail-mod-2"><span class="icon icon-success icon-lg icon-mod-1"><i
                                    class="fa fa-check-square-o" aria-hidden="true"></i></span>
                                <div class="caption">
                                    <h4> WHY CHOOSE US</h4>
                                    <p>Turpis egestas integer eget aliquet nibh praesent tristique magna sit.
                                        Scelerisque mauris pellentesque pulvinar pellentesque.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-4">
                            <div class="thumbnail thumbnail-mod-2"><span class="icon icon-success icon-lg icon-mod-1"><i
                                    class="fa fa-line-chart" aria-hidden="true"></i></span>
                                <div class="caption">
                                    <h4> OUR MISSION</h4>
                                    <p>Turpis cursus in hac habitasse platea dictumst quisque sagittis purus.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-xl-4">
                            <div class="thumbnail thumbnail-mod-2"><span class="icon icon-success icon-lg icon-mod-1"><i
                                    class="fa fa-cogs" aria-hidden="true"></i></span>
                                <div class="caption">
                                    <h4> WHAT WE DO</h4>
                                    <p>Nulla aliquet enim tortor at auctor urna nunc. Elementum sagittis vitae et leo
                                        duis.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section section-inset-2">
                <div class="container">
                    <h2 class="text-center">Our Facts</h2>
                    <hr>
                    <div class="row row-45">
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="counter">78</div>
                            <p class="h5 fw-l text-transform-none letter-spacing">Distribution partners</p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="counter">23</div>
                            <p class="h5 fw-l text-transform-none letter-spacing">Team members</p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="counter">7500</div>
                            <p class="h5 fw-l text-transform-none letter-spacing">Daily views</p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="counter">374</div>
                            <p class="h5 fw-l text-transform-none letter-spacing">New movies</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section section-inset-1 bg-light">
                <div class="container">
                    <h2>Movie genres</h2>
                    <hr>
                    <div class="row text-md-left row-55">
                        <div class="col-12 col-md-6 col-xl-4">
                            <div class="media flex-column flex-md-row thumbnail-mod-2">
                                <div class="media-left"><span class="icon icon-success icon-sm"><i class="fa fa-cloud"
                                                                                                   aria-hidden="true"></i></span>
                                </div>
                                <div class="media-body box-service">
                                    <h6 class="text-transform-none"><a href="#">Fantasy</a></h6>
                                    <p>Venenatis lectus magna fringilla urna porttitor rhoncus dolor. Amet purus gravida
                                        quis blandit. Sed enim ut sem viverra aliquet eget. Tristique senectus et netus
                                        et.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-4">
                            <div class="media flex-column flex-md-row thumbnail-mod-2">
                                <div class="media-left"><span class="icon icon-success icon-sm"><i class="fa fa-bolt"
                                                                                                   aria-hidden="true"></i></span>
                                </div>
                                <div class="media-body box-service">
                                    <h6 class="text-transform-none"><a href="#">Action movies</a></h6>
                                    <p>Pellentesque eu tincidunt tortor aliquam nulla facilisi cras. Gravida in
                                        fermentum et sollicitudin ac orci phasellus. Donec pretium vulputate sapien nec
                                        sagittis aliquam malesuada bibendum.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-4">
                            <div class="media flex-column flex-md-row thumbnail-mod-2">
                                <div class="media-left"><span class="icon icon-success icon-sm"><i class="fa fa-star"
                                                                                                   aria-hidden="true"></i></span>
                                </div>
                                <div class="media-body box-service">
                                    <h6 class="text-transform-none"><a href="#">Crime</a></h6>
                                    <p>Adipiscing elit ut aliquam purus sit amet luctus venenatis. Pellentesque elit
                                        eget gravida cum. Enim ut tellus elementum sagittis vitae et leo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-4">
                            <div class="media flex-column flex-md-row thumbnail-mod-2">
                                <div class="media-left"><span class="icon icon-success icon-sm "><i class="fa fa-user"
                                                                                                    aria-hidden="true"></i></span>
                                </div>
                                <div class="media-body box-service">
                                    <h6 class="text-transform-none"><a href="#">Biographical</a></h6>
                                    <p>Etiam dignissim diam quis enim lobortis scelerisque fermentum. Ipsum dolor sit
                                        amet consectetur.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-4">
                            <div class="media flex-column flex-md-row thumbnail-mod-2">
                                <div class="media-left"><span class="icon icon-success icon-sm "><i
                                        class="fa fa-space-shuttle" aria-hidden="true"></i></span></div>
                                <div class="media-body box-service">
                                    <h6 class="text-transform-none"><a href="#">Military</a></h6>
                                    <p>Vel turpis nunc eget lorem dolor sed viverra ipsum. Tortor pretium viverra
                                        suspendisse potenti nullam ac tortor vitae. Facilisi cras fermentum odio eu
                                        feugiat pretium nibh ipsum consequat.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-4">
                            <div class="media flex-column flex-md-row thumbnail-mod-2">
                                <div class="media-left"><span class="icon icon-success icon-sm "><i class="fa fa-star"
                                                                                                    aria-hidden="true"></i></span>
                                </div>
                                <div class="media-body box-service">
                                    <h6 class="text-transform-none"><a href="#">Adventure</a></h6>
                                    <p>olutpat est velit egestas dui id ornare arcu odio. Vitae turpis massa sed
                                        elementum tempus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-sm btn-min-width btn-success" href="#">view all features</a>
                </div>
            </section>
            <section class="section section-inset-1">
                <div class="container">
                    <h2>Our Fantastic Team</h2>
                    <hr>
                    <p class="h5 fw-l">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Eu facilisis sed odio morbi.</p>
                    <div class="row row-30 offset-custom-2">
                        <div class="col-12 col-md-6 col-xl-3">
                            <div class="thumbnail thumbnail-mod-1"><img src="{% static '/img/img0.jpg' %}" alt="">
                                <div class="caption caption-mod-1">
                                    <h6 class="box-service"><a href="team-member.html">Con chym khó ở</a></h6><span
                                        class="text-gray">Founder, Owner</span>
                                    <p>Feugiat nisl pretium fusce id velit ut tortor pretium.</p>
                                    <ul class="list-inline list-inline-2">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-3">
                            <div class="thumbnail thumbnail-mod-1"><img src="{% static '/img/img1.jpg' %}" alt="">
                                <div class="caption caption-mod-1">
                                    <h6 class="box-service"><a href="team-member.html">Bộ trưởng bộ tài chính và
                                        drama</a></h6><span class="text-gray">Web Designer</span>
                                    <p>Sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus.</p>
                                    <ul class="list-inline list-inline-2">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-3">
                            <div class="thumbnail thumbnail-mod-1"><img src="{% static '/img/img2.jpg' %}" alt="">
                                <div class="caption caption-mod-1">
                                    <h6 class="box-service"><a href="team-member.html">Mr Sài Gòn Center</a></h6><span
                                        class="text-gray">Content Manager</span>
                                    <p>Tempor orci eu lobortis elementum nibh tellus molestie nunc.</p>
                                    <ul class="list-inline list-inline-2">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-3">
                            <div class="thumbnail thumbnail-mod-1"><img src="{% static '/img/img3.jpg' %}" alt="">
                                <div class="caption caption-mod-1">
                                    <h6 class="box-service"><a href="team-member.html">Bảo đa năng</a></h6><span
                                        class="text-gray">PR Manager</span>
                                    <p>Leo integer malesuada nunc vel. Eget duis at tellus at urna.</p>
                                    <ul class="list-inline list-inline-2">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-3">
                            <div class="thumbnail thumbnail-mod-1"><img src="{% static '/img/img4.jpg' %}" alt="">
                                <div class="caption caption-mod-1">
                                    <h6 class="box-service"><a href="team-member.html">Méo biết ghi gì</a></h6><span
                                        class="text-gray">Founder, Owner</span>
                                    <p>Feugiat nisl pretium fusce id velit ut tortor pretium.</p>
                                    <ul class="list-inline list-inline-2">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-3">
                            <div class="thumbnail thumbnail-mod-1"><img src="{% static '/img/img5.jpg' %}" alt="">
                                <div class="caption caption-mod-1">
                                    <h6 class="box-service"><a href="team-member.html">Nghiệp vai loz nghiệp</a></h6>
                                    <span class="text-gray">Founder, Owner</span>
                                    <p>Feugiat nisl pretium fusce id velit ut tortor pretium.</p>
                                    <ul class="list-inline list-inline-2">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-3">
                            <div class="thumbnail thumbnail-mod-1"><img src="{% static '/img/img6.jpg' %}" alt="">
                                <div class="caption caption-mod-1">
                                    <h6 class="box-service"><a href="team-member.html">Chiên gia hóng hớt</a></h6><span
                                        class="text-gray">Founder, Owner</span>
                                    <p>Feugiat nisl pretium fusce id velit ut tortor pretium.</p>
                                    <ul class="list-inline list-inline-2">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-3">
                            <div class="thumbnail thumbnail-mod-1"><img src="{% static '/img/img7.jpg' %}" alt="">
                                <div class="caption caption-mod-1">
                                    <h6 class="box-service"><a href="team-member.html">Cử nhân chiên ngành dạng háng
                                        học</a></h6><span class="text-gray">Founder, Owner</span>
                                    <p>Feugiat nisl pretium fusce id velit ut tortor pretium.</p>
                                    <ul class="list-inline list-inline-2">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
    <!-- coded by Starlight-->
{% endblock %}
