<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    {% block cssblock %}
    {% endblock cssblock %}

    <title>
      {% block title %}
      {% endblock title %}
    </title>
  </head>

  <body>
    {% include 'navbar.html' %}

    {% block content %}
    {% endblock content %}

    {% include 'footer.html' %}

    <!-- Js, Jquery & something else-->
    {% block jsblock %}
    {% endblock jsblock %}
  </body>
</html>
