{% extends 'base.html' %}
{% load static %}

{% block cssblock %}

{% endblock cssblock %}

{% block title %}
    Movie Center | The best website in the world.
{% endblock title %}

{% block content %}
    <div class="container">
        <br>
        <h1>MOVIE CENTER</h1>
        <br>
        <p>The best place in the world for buy movie.</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
{% endblock content %}


{% block jsblock %}

{% endblock jsblock %}
