
{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block title %}
  Change Password | Movie Center
{%endblock title %}

{% block cssblock %}
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
{% endblock cssblock %}

{% block content %}

<section class="relative">
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="separator"><small>Update</small></h1>
            <span class="font-weight-bold">change your password</span>
        </div>
    </div>
</section>

<nav aria-label="breadcrumb" class="bg-light section-xl">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="mau" href="#">Home</a></li>
        <li class="breadcrumb-item"><a class="mau" href="#">{{ user.username }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Change Password</li>
    </ol>
</nav>

<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
          <div class="card-body">
            <p>
              <h1>Password change successful</h1>
              <p>
                Your password was changed.
              </p>
              <a class="btn btn-danger" href="{% url 'core:home' %}">Return Home</a>
            </p>
          </div>
      </div>
  </div>
</div>


{% endblock %}
