{% extends 'base.html' %}

{% load static %}

{% block title %}
    About Us | Movie Center
{% endblock title %}

{% block cssblock %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock cssblock %}


{% block content %}
<section class="relative">
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="separator"><small>About us</small></h1>
            <span class="font-weight-bold">few words about us</span>
        </div>
    </div>
</section>

<nav aria-label="breadcrumb" class="bg-light section-xl">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="mau" href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">About</li>
    </ol>
</nav>

<div class="bg-light">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4">About Our Website</h1>
                <p class="lead text-muted mb-0" style="text-align: justify;">MOOV-MovieCenter is the world's leading streaming entertainment service with thousands of movies in over hundreds of countries enjoying TV series, documentaries and feature films across a wide variety of genres and countries. Members can watch as much as they want, anytime, anywhere, on any internet-connected screen. Members can play, pause and resume watching, all without commercials or commitments. Enjoy  it!</p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img
                    src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" alt=""
                    class="img-fluid"></div>
        </div>
    </div>
</div>

<div class="bg-white py-5">
    <div class="container py-5">
        <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">About Us</h2>
                <p class="font-italic text-muted mb-4">You don’t live and breathe technology, but you do use it everyday and you expect it to work. Our goal is to help you get the most out of the technology in your life. We are MOOV - MOVIE CENTER.</p><a href="#"
                                                                                            class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img
                    src="https://res.cloudinary.com/mhmd/image/upload/v1556834139/img-1_e25nvh.jpg" alt=""
                    class="img-fluid mb-4 mb-lg-0"></div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 px-5 mx-auto"><img
                    src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/img-2_vdgqgn.jpg" alt=""
                    class="img-fluid mb-4 mb-lg-0"></div>
            <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">Mychael Danna</h2>
                <p class="font-italic text-muted mb-4">"We love films and storytelling as a people, It's just a human compulsion to listen to and tell stories."</p><a href="#"
                                                                                            class="btn btn-light px-5 rounded-pill shadow-sm">Learn
                    More</a>
            </div>
        </div>
    </div>
</div>

<div class="bg-light py-5">
    <div class="container py-5">
        <div class="row mb-4">
            <div class="col-lg-5">
                <h2 class="display-4 font-weight-light">Our team</h2>
                <p class="font-italic text-muted"> "Coming together is a beginning, staying together is progress, and working together is success." – Henry Ford</p>
            </div>
        </div>

        <div class="row text-center">
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="{% static 'img/img1.jpg' %}" alt=""
                        width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Bui The Vinh</h5><span class="small text-uppercase text-muted">Leader - BackEnd</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="{% static 'img/img2.jpg' %}" alt=""
                        width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Huynh Anh Khoa</h5><span
                            class="small text-uppercase text-muted">FrontEnd</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="{% static 'img/img3.jpg' %}" alt=""
                        width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Le Thien Bao</h5><span
                            class="small text-uppercase text-muted">BackEnd</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="{% static 'img/img4.jpg' %}" alt=""
                        width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Duong Thanh Binh</h5><span
                            class="small text-uppercase text-muted">FrontEnd</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="{% static 'img/img5.jpg' %}" alt=""
                        width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Ngo Trung Hieu</h5><span
                            class="small text-uppercase text-muted">FrontEnd</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="{% static 'img/img6.jpg' %}" alt=""
                        width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Ho Quang Minh</h5><span
                            class="small text-uppercase text-muted">FrontEnd</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="{% static 'img/img7.jpg' %}" alt=""
                        width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Quach Trien Huy</h5><span
                            class="small text-uppercase text-muted">FrontEnd</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="{% static 'img/img8.jpg' %}" alt=""
                        width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Le Hoang An</h5><span
                            class="small text-uppercase text-muted">BackEnd</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->
        </div>
    </div>
</div>
{% endblock %}
